@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: rgb(4, 106, 134);
    --primary-color-darker: rgb(3, 77, 97);
}

* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

#app {
    max-width: 640px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
}
